

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <a href="https://github.com/iondune/OoTBingoBlind">GitHub</a>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      v0.1.3
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      &copy; Ian Dunn 2017</p>
  </div>
</footer>

</body>
</html>
