<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OoT Tool</title>
  <meta name="description" content="oot betaquest blind bingo lockout">
  <meta name="author" content="Ian Dunn">

  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-RpX8okQqCyUNG7PlOYNybyJXYTtGQH+7rIKiVvg1DLg6jahLEk47VvpUyS+E2/uJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div class="container">
