<%- include header.ejs %>

  <h1>Ocarina of Time: Lockout Bingo Blind</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        This is a tool for refereeing <strong>blind</strong> Ocarina of Time bingo matches.
        In a blind match, the card is not revealed to players until the end of a specified time limit.
        At that point, players check off any goals that they completed to see who wins.
        However, this makes it difficult to keep track of who got a goal first.
      <p>

      <p>
        This tool presents a list of all possible bingo goals.
        You are only able to see the goals that you have checked off - your opponent's goals are hidden from you.
        If you check a goal before your opponent, the system awards the goal to you.
        However, if you have to uncheck the goal (e.g. if you use your bottled blue fair), the system awards the goal to the next player who already has it.
      </p>

      <p>
        At the end of the match, click the "View Results" button to show which players got which goals.
      </p>

      <p><a href="rooms/" class="btn btn-primary">New Room</a></p>
    </div>
  </div>

<%- include footer.ejs %>
